.cell {
  font-size: 32px;
  color: white;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-custom {
  font-size: 32px;
  border-radius: 20px;
}

.bg-black.cell:hover,
.bg-black.cell.clicked {
  background-color: black;
}

.bg-red.cell:hover,
.bg-red.cell.clicked {
  background-color: darkred;
}

.bg-black {
  background-color: #1e1e1e;
}

.bg-red {
  background-color: #d21616;
}
